{% extends 'base.html.twig' %}

{% block title %}Editing...{% endblock %}

{% block bread %}
    <a href="{{path('app_micro_post_show', {id:post.id}) }}">→ Post</a>→ Edit
{% endblock %}

{% block body %}
    {{include('micro_post/_form.html.twig')}}
    <a href="" onclick="del()">Delete!</a>
    <script>
        /*this function is useful to delete a post calling app_micro_post_delete route of MicroPostController*/
        function del(){
            if(
                window.confirm('Do you really want to delete this post?')
            ){
                loadXMLDoc('{{path('app_micro_post_delete', {id:post.id})}}')
            }
        }
        function loadXMLDoc(url) {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) { // XMLHttpRequest.DONE == 4
                    if (xmlhttp.status == 200) {
                        window.location.href='{{path('app_micro_post')}}'
                    }
                    else if (xmlhttp.status == 400) {
                        alert('There was an error 400');
                    }
                    else {
                        alert('something else other than 200 was returned');
                    }
                }
            };

            xmlhttp.open("DELETE", url, true);
            xmlhttp.send();
        }
    </script>   
{% endblock %}