{% extends 'base.html.twig' %}

{% block title %}All Posts!{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 mt-10">
        {% if posts|length > 0 %}
            {% for post in posts %}
                {{include('micro_post/_post.html.twig', {post:post})}}  
            {% endfor %}
        {% else %}
            There's nothing here
        {% endif %}
    </div>
    <script>
        /*this function is useful to delete a post calling app_micro_post_delete route of MicroPostController*/
        function del(url,post_id){
            if(
                window.confirm('Do you really want to delete this post?')
            ){
                loadXMLDoc(url,post_id);
            }
        }
        function loadXMLDoc(url,post_id) {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) { // XMLHttpRequest.DONE == 4
                    if (xmlhttp.status == 200) {
                        document.getElementById('post-'+post_id).remove();
                    }
                    else if (xmlhttp.status == 400) {
                        alert('There was an error 400');
                    }
                    else {
                        alert('something else other than 200 was returned');
                    }
                }
            };

            xmlhttp.open("DELETE", url, true);
            xmlhttp.send();
        }
    </script>   
         
{% endblock %}
